#caixa{
    padding: 10px;
    padding-left: 20px;
    padding-top: 10px;
    color: rgb(5, 28, 133);
    
}
.titulo{
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
}
.subtitulo{
    text-align: center;
    font-size: 18px;
    font-family: Verdana;
}
.paragrafo1{
    font-size: 17px;
    font-family: sans-serif;
    text-align: justify;
    color: black;
}
    .paragrafo2{
        text-align: justify;
        font-size: 17px;
        font-family: sans-serif;
        color: black;

    }


p{
    color: rgb(13, 56, 33);
}